/* #0653b6 | 6 83 182- Blue color */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-text-right {
  background-color: black;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Arimo", sans-serif;
}
.intro-text-left {
  background-color: white;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Arimo", sans-serif;
}
.hide-right {
  background: black;
  overflow: hidden;
  padding-right: 1rem;
}
.hide-left {
  background: #0653b6;
  overflow: hidden;
  width: 100%;
  padding-left: 1rem;
  transform: translateX(100%);
}
.hide-right span {
  transform: translateY(100%);
  display: inline-block;
}
.hide-left span {
  transform: translateY(100%);
  display: inline-block;
}
.intro-text-left {
  background-color: white;
  width: 50%;
}

.navbar-nav {
  padding-right: 2rem;
}
.nav-item {
  padding-right: 1rem;
}
.nav-link {
  color: white !important;
}
.fixed-top {
  z-index: 0 !important ;
}

.bglight {
  /* background-color: red !important; */

  background-image: linear-gradient(
    to right,
    /* rgb(0, 0, 0, 0.7), rgba(255, 255, 255, 0.5), */ rgba(6, 83, 182, 0.8),
    black
  ) !important;
}

.dummy {
  width: 100%;
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  padding-top: 4rem;
}
.dummy1 {
  width: 100%;
  height: 100vh;
  background: red;
}
