* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landing {
  background: url(../images/cover.jpg);
  height: 100vh;
}
.flexend {
  width: 100%;
  justify-content: flex-end;
}
.sectioncont {
  display: flex;
  padding-top: 5vh;
  height: 100vh;
}
.navbar-toggler:focus {
  text-decoration: none;
  /* outline: 0; */
  box-shadow: 0 0 0 0rem !important;
}
